<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.qinpeng.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zking.qinpeng.model.Category" >
    <constructor >
      <idArg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  
  <resultMap id="CategoruResultMap" type="com.zking.qinpeng.model.Category">
    <id property="categoryId" column="category_id"/>
    <result property="categoryName" column="category_name"/>
    <collection property="newList" column="category_id"
                select="com.zking.qinpeng.mapper.NewCcategoryMapper.queryCategoryList"/>
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_name
  </sql>
  
  <select id="queryCategory" resultMap="CategoruResultMap">
    SELECT  * from t_category where category_id=#{cid}

  </select>

</mapper>