<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.qinpeng.mapper.NewCcategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zking.qinpeng.model.NewCcategory" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <resultMap id="queryNewListResultMap" type="com.zking.qinpeng.model.New">
    <id property="newsId" column="news_id"/>
    <result property="title" column="title"/>
  </resultMap>
  <resultMap id="queryCategoryListResultMap" type="com.zking.qinpeng.model.Category">
    <id property="categoryId" column="category_id"/>
    <result property="categoryName" column="category_name"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, nid, cid
  </sql>
  <select id="queryNewList" resultMap="queryNewListResultMap">
    select * from t_news n left join  t_news_category nc on n.news_id=nc.nid where 1=1 and nc.cid=#{nid}

  </select>
  <select id="queryCategoryList" resultMap="queryCategoryListResultMap">
     select c.* from t_category c left join  t_news_category nc  on c.category_id =nc.cid where 1=1 and nc.nid=#{cid}

  </select>


</mapper>