<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.qinpeng.mapper.NewMapper" >
  <resultMap id="BaseResultMap" type="com.zking.qinpeng.model.New" >
    <constructor >
      <idArg column="news_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
<!--  <cache type="com.zking.qinpeng.util.RedisCache"/>-->
  <sql id="Base_Column_List" >
    news_id, title
  </sql>
  <select id="queryNew" resultType="com.zking.qinpeng.model.New">
    select
    <include refid="Base_Column_List"/>
    from t_news

  </select>

</mapper>